:root {
    --foreground: white;
    --background: rgb(29, 29, 29);
    --accent: rgb(19, 106, 192);
}

body {
    height: 100%;
    margin: 0;
    color: var(--foreground);
    background-color: var(--background);
}

body, select {
    font-family: "Open Sans";
    font-size: 1.2rem;
}

main {
    width: 100%;
    display: flex;

    --min-top: 0vh;
    top: clamp(var(--min-top), 30vh, calc(50% - 12em));
    position: absolute;
    justify-content: center;
}

[data-elm-hot="true"] {
    height: fit-content !important;
}

article {
    text-align: center;
    display: block;
    height: fit-content;
    padding: 2em;
    margin-top: 1em;
}

h1 {
    font-weight: bold;
    position: relative;
    line-height: 1;

    &::before {
        z-index: -1;
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;

        --offset: -0.3em;
        left: calc(var(--offset) - 0.1em);
        top: var(--offset);
        
        --border: 0.12em solid var(--accent);
        border-top: var(--border);
        border-left: var(--border);

        border-radius: 0.1em;
    }
}

li::marker {
    content: ""
}

ul {
    padding-inline-start: 0;
    list-style-type: none;
}

label::after {
    content: ": ";
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    div {
        display: inline;
    }
}

select {
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

form div, li {
    margin-top: 0.5em;
}

.label {
    
}

.stat {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    margin-bottom: 1em;
    font-size: 0.85em;
    
    * {
        margin-right: 0.8em;
        color: var(--foreground);
        text-decoration: none;
        background-color: var(--accent);
        padding: 0.1em 0.3em;
        border-radius: 0.2em;
        font-family: monospace;
    }
}

@media only screen
    and (max-device-width: 1024px)
    and (orientation: portrait)
{
    body, select {
        font-size: 3.5rem;
    }

    option {
        font-size: 1rem;
    }
}
